.roam-tabs {
    height: 30px;
    min-height: 30px;
    z-index: 1;

    button.roam-tab {
        margin-right: 4px;

        .bp3-button-text {
            display: inline-flex;
        }
        transition-delay: 1s;
        transition-property: max-width;
        &[data-dragging="true"] {
            // margin: 0 .5rem;
        }
        &.over {
            // border-style: dotted;
            // background-color: red;
        }
    }

    &-container {
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            height: 10px;
        }

        overflow-x: auto;
        white-space: nowrap;
        padding: 5px;
        &:hover::-webkit-scrollbar-thumb {
            background-color: #bfbfbf;
        }
    }
}


.roam-body .roam-app .roam-body-main {
    flex: 0 0 calc(100% - 75px)
}